# EDA

In [123]:
import pandas as pd
import numpy as np

In [124]:
df = pd.read_csv("online_gaming_insights.csv")

In [125]:
# Lima baris pertama
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [126]:
print("Bentuk dataset:", df.shape)
print("\nNama kolom: ", df.columns.tolist())
print("\nTipe data:")
print(df.dtypes)

Bentuk dataset: (40034, 13)

Nama kolom:  ['PlayerID', 'Age', 'Gender', 'Location', 'GameGenre', 'PlayTimeHours', 'InGamePurchases', 'GameDifficulty', 'SessionsPerWeek', 'AvgSessionDurationMinutes', 'PlayerLevel', 'AchievementsUnlocked', 'EngagementLevel']

Tipe data:
PlayerID                       int64
Age                            int64
Gender                        object
Location                      object
GameGenre                     object
PlayTimeHours                float64
InGamePurchases                int64
GameDifficulty                object
SessionsPerWeek                int64
AvgSessionDurationMinutes      int64
PlayerLevel                    int64
AchievementsUnlocked           int64
EngagementLevel               object
dtype: object

In [127]:
print("Info Data:")
df.info()

Info Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40034 entries, 0 to 40033
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PlayerID                   40034 non-null  int64
 1   Age                        40034 non-null  int64
 2   Gender                     40034 non-null  object
 3   Location                   40034 non-null  object
 4   GameGenre                  40034 non-null  object
 5   PlayTimeHours              40034 non-null  float64
 6   InGamePurchases            40034 non-null  int64
 7   GameDifficulty             40034 non-null  object
 8   SessionsPerWeek            40034 non-null  int64
 9   AvgSessionDurationMinutes  40034 non-null  int64
 10  PlayerLevel                40034 non-null  int64
 11  AchievementsUnlocked       40034 non-null  int64
 12  EngagementLevel            40034 non-null  object
dtypes: float64(1), int64(7), object(5)
memory usage: 4.0+ MB

In [128]:
# Lima Baris Terakhir
df.tail()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
40029,49029,32,Male,USA,Strategy,20.619662,0,Easy,4,75,85,14,Medium
40030,49030,44,Female,Other,Simulation,13.539280,0,Hard,19,114,71,27,High
40031,49031,15,Female,USA,RPG,0.240057,1,Easy,10,176,29,1,High
40032,49032,34,Male,USA,Sports,14.017818,1,Medium,3,128,70,10,Medium
40033,49033,19,Male,USA,Sports,10.083804,0,Easy,13,84,72,39,Medium

In [129]:
# Ringkasan Statistik
df.describe()

,PlayerID,Age,PlayTimeHours,InGamePurchases,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked
count,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000,40034.000000
mean,29016.500000,31.992531,12.024365,0.200854,9.471774,94.792252,49.655568,24.526477
std,11556.964675,10.043227,6.914638,0.400644,5.763667,49.011375,28.588379,14.430726
min,9000.000000,15.000000,0.000115,0.000000,0.000000,10.000000,1.000000,0.000000
25%,19008.250000,23.000000,6.067501,0.000000,4.000000,52.000000,25.000000,12.000000
50%,29016.500000,32.000000,12.008002,0.000000,9.000000,95.000000,49.000000,25.000000
75%,39024.750000,41.000000,17.963831,0.000000,14.000000,137.000000,74.000000,37.000000
max,49033.000000,49.000000,23.999592,1.000000,19.000000,179.000000,99.000000,49.000000

In [130]:
# Analisis Fitur Kategorikal

categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\n{col}:")
    print(df[col].value_counts())

Gender:
Gender
Male      23959
Female    16075
Name: count, dtype: int64

Location:
Location
USA       16000
Europe    12004
Asia       8095
Other      3935
Name: count, dtype: int64

GameGenre:
GameGenre
Sports        8048
Action        8039
Strategy      8012
Simulation    7983
RPG           7952
Name: count, dtype: int64

GameDifficulty:
GameDifficulty
Easy      20015
Medium    12011
Hard       8008
Name: count, dtype: int64

EngagementLevel:
EngagementLevel
Medium    19374
High      10336
Low       10324
Name: count, dtype: int64

In [131]:
# Cek Missing Values
print("Missing Values per Masing-Masing Kolom:")
print(f"\n{df.isnull().sum()}")  

print("\nTotal Missing Values:", df.isnull().sum().sum())

Missing Values per Masing-Masing Kolom:

PlayerID                     0
Age                          0
Gender                       0
Location                     0
GameGenre                    0
PlayTimeHours                0
InGamePurchases              0
GameDifficulty               0
SessionsPerWeek              0
AvgSessionDurationMinutes    0
PlayerLevel                  0
AchievementsUnlocked         0
EngagementLevel              0
dtype: int64

Total Missing Values: 0

In [132]:
# Cek Duplicated Rows

print("Duplicated Rows:")
print(f"\n{df.duplicated().sum()}")  

print("\nTotal Duplicated Rows:", df.duplicated().sum().sum())

Duplicated Rows:

0

Total Duplicated Rows: 0

In [133]:
# Cek Outlier

numeric_cols = [
    "Age", "PlayTimeHours", "InGamePurchases", 
    "SessionsPerWeek", "AvgSessionDurationMinutes", 
    "PlayerLevel", "AchievementsUnlocked"
]

outliers = {}
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    mask = (df[col] < lower) | (df[col] > upper)
    outliers[col] = df[mask][col].count()
    
print("\nJumlah Outlier pada Setiap Kolom")
for k, v in outliers.items():
    print(f"{k}: {v}")

Jumlah Outlier pada Setiap Kolom
Age: 0
PlayTimeHours: 0
InGamePurchases: 8041
SessionsPerWeek: 0
AvgSessionDurationMinutes: 0
PlayerLevel: 0
AchievementsUnlocked: 0

# Ini ada outlier, menghapus/tidak menghapus tergantung model yang ingin dipakai, sesuaikan dengan sensitivitas model tersebut.

# Pre-processing

In [134]:
# Menghapus kolom yang tidak diperlukan
df.drop(columns=["PlayerID"], inplace=True)

In [135]:
df.columns = df.columns.str.strip()

# One-Hot Encoding 
df = pd.get_dummies(df, columns=["Gender", "Location", "GameGenre"], drop_first=False)

# Ordinal Encoding
difficulty_map = {"Easy": 0, "Medium": 1, "Hard": 2}
df["GameDifficulty"] = df["GameDifficulty"].map(difficulty_map)

engagement_map = {"Low": 0, "Medium": 1, "High": 2}
df["EngagementLevel"] = df["EngagementLevel"].map(engagement_map)

# Hasil Encoding
print(df.head())

   Age  PlayTimeHours  InGamePurchases  GameDifficulty  SessionsPerWeek  \
0   43      16.271119                0               1                6
1   29       5.525961                0               1                5
2   22       8.223755                0               0               16
3   35       5.265351                1               0                9
4   33      15.531945                0               1                2

   AvgSessionDurationMinutes  PlayerLevel  AchievementsUnlocked  \
0                        108           79                    25
1                        144           11                    10
2                        142           35                    41
3                         85           57                    47
4                        131           95                    37

   EngagementLevel  Gender_Female  Gender_Male  Location_Asia  \
0                1          False         True          False
1                1           True        False          False
2                2           True        False          False
3                1          False         True          False
4                1          False         True          False

   Location_Europe  Location_Other  Location_USA  GameGenre_Action  \
0            False            True         False             False
1            False           False          True             False
2            False           False          True             False
3            False           False          True              True
4             True           False         False              True

   GameGenre_RPG  GameGenre_Simulation  GameGenre_Sports  GameGenre_Strategy
0          False                 False             False                True
1          False                 False             False                True
2          False                 False              True               False
3          False                 False             False               False
4          False                 False             False               False

In [ ]:
# Train-Test Split

# Ini TTS disesuaikan aja bang sesuai kenyamanan